@model Project3_Base_Code.ViewModels.AboutVM

<h2>@Model.Title</h2>

@for (var i = 0; i < Model.About.Count; i++)
{
<div class="container">

    <div class="row">

            
                <div class="caption">
                    <h3 style="font-size:small">
                        @Model.About[i].title
                    </h3>
                    <h3 style="font-size:small">
                        @Model.About[i].description
                    </h3>
                    <h3 style="font-size:small">
                        @Model.About[i].quote
                    </h3>
                    <h3 style="font-size:small">
                        @Model.About[i].quoteAuthor
                    </h3>
                </div>
                
                  
        
            </div>

    </div>
    i = i + 3;
}