@model Project3_Base_Code.ViewModels.FacultyVM

<h2>@Model.Title</h2>

@for (var i = 0; i < Model.Faculty.Count; i++)
{
<div class="container">

    <div class="row">

        @for (var j = 0; j < 4; j++) 
        {
            <div class="col-lg-3">
                <div class="thumbnail" style="background-image: url(@Model.Faculty[i + j].imagePath)"></div>
                <div class="caption">
                    <h3 style="font-size:small">
                        @Model.Faculty[i + j].name
                    </h3>
                    <h3 style="font-size:small">
                        @Model.Faculty[i + j].title
                    </h3>
                    <h3 style="font-size:small">
                        @Model.Faculty[i + j].office
                    </h3>
                    <h3 style="font-size:small">
                        @Model.Faculty[i + j].phone
                    </h3>
                    <h3 style="font-size:small">
                        @Model.Faculty[i + j].email
                    </h3>
                    <h3 style="font-size:small">
                        &nbsp;
                    </h3>
                </div>
                @if (i + j + 1 >= Model.Faculty.Count)
                {
                    break;
                }
                </div>    
        }
            </div>

    </div>
    i = i + 3;
}

