@model Project3_Base_Code.ViewModels.MinorsVM

<h2>@Model.Title</h2>

@for (var i = 0; i < Model.Minors.Count; i++)
{
<div class="container">

    <div class="row">


        <div class="caption">
            <h3 style="font-size:large">
                @Model.Minors[i].name
            </h3>
            <h3 style="font-size:medium">
                @Model.Minors[i].title
            </h3>
            <h3 style="font-size:small">
                @Model.Minors[i].description
            </h3>

            @*TODO: implement courses (how to access list of courses for each minor??)*@
            @*@foreach (string str in Model.Minors[i].Courses)
            {
                <h3 style="font-size:small">
                    @Model.Minors[i].Courses;
                </h3>
            }*@

            <h3 style="font-size:small">
                @Model.Minors[i].note
            </h3>
            <br/>
        </div>



    </div>

</div>
}
